<section class="card">

    <div class="card-body">

        <a class="btn" onclick="window.location" aria-current="page" href="/updateComment/{{id}}">update</a>

        <div class="list" id="comment"> comment : {{comment}}</div>
        <div class="list" id="username"> username :{{username}}</div>
        <div class="list" id="date"> date :{{date}}</div>
        <div class="list"> comment id: <a id="commentid">{{id}}</a></div>

    </div>
    </a>

</section>